{{define "body"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width-device-width">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
<body>
    <p>Hello:</p>
    <p>please find your invoice attached</p>
    <p>--</p>
</body>
</html>
{{end}}